/* Обнуляющий стиль */
@import "nullstyle.css";
/* &display=swap */
@import url('https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap');
/*--------------------------------*/
body{
	font-family: "Lato";
	background-color:#fff;
	color:#424551;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main{
	flex: 1 1 auto;
}
[class*='__container']{
	max-width: 1230px;
	margin: 0px auto;
	box-sizing:content-box;
	padding: 0 15px;
}

/*---------------Learn-----------------*/
.learn {
	padding: 180px 0;
}
.learn *:last-child{
	margin-bottom: 0;
}
.learn__container {}

.learn__label {
	margin-bottom: 8px; 
}
.label {
	color: #1E212C;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 1.5;
	font-weight: 700;
}
.title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
}
.button {
	display: inline-flex;
	text-align: center;
	align-items: center;
	padding: 0 40px;
	border-radius: 4px;
	font-weight: 700;
	line-height: 3.25;
	letter-spacing: 0.5px;
	min-height: 52px;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	color:#fff;
	transition: all ease 1s;
}
.button_white {
	background:#fff;
	color: #FF4242;
	border: 2px solid #FF4242;
}

.learn__wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
	row-gap: 30px;
}

.cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
	margin: 0 -15px;
}
.card{
	display: flex;
	flex: 1 0 50%;
	padding: 0 15px;
}
.item-card {
	width: 100%;
	min-width: 440px;
	display: flex;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
	0px 30px 24px -10px rgba(154, 156, 165, 0.05),
	0px 12px 10px -6px rgba(154, 156, 165, 0.04),
	0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
	border: 1px solid #E5E8ED;
}
.item-card__image {
	flex: 0 0 214px;
	border-radius: 4px 0px 0px 4px;
}
.item-card__image img{
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.item-card__body {
	padding: 32px;
	display: flex;
	flex-direction: column;
}
.item-card__body *:not(:last-child){
	margin-bottom: 20px;
}
.item-card__headline {
	display: inline-block;
	border-radius: 4px;
	min-height: 23px;
	padding: 1px 8px;
	color:#fff;
	font-size: 14px;
	line-height: 150%;
	align-self:flex-start;
}
.item-card__headline_green{
	background-color: #03CEA4;
}
.item-card__headline_blue{
	background-color:#5A87FC;
}
.item-card__headline_orange{
	background-color:#F89828;
}
.item-card__headline_red{
	background-color:#F52F6E;
}
.item-card__title {
	font-weight: 700;
	font-size: 20px;
	line-height:1.5;
	flex: 1 1 auto;
}
.item-card__info{
	
}
.item-card__rate {
	color: #FF4242;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.5;
}
.item-card__speaker {
	font-size: 18px;
	line-height: 1.5;
	color: #787A80;
}
.item-card__speaker::before{
	content:'';
	display: inline-block;
	width: 16px;
	transform: rotate(90deg);
	height: 1px;
	background-color:#787A80;
	vertical-align: middle;
}
/*---------------events-----------------*/
.our-events{
	padding: 80px 0;
	background: linear-gradient(55.95deg, #fedcd2 0%, #fedecf 100%);
}
.our-events *:last-child{
	margin-bottom: 0;
}
.our-events__label {
	margin-bottom: 8px;
}
.our-events__title {
	margin-bottom: 60px;
}
.label_text-align{
	text-align: center;
}
.title_text-align{
	text-align: center;
}

.event-list {
	background-color:#fff;
	display: flex;
	padding:32px 20px 32px 40px;
	margin: 0 -20px;
	flex-wrap: wrap;
	row-gap: 30px;
}
.event-list__date {
	padding: 0 20px;
}

.date-event-list {}

.date-event-list__body {
	display: flex;
	column-gap:20px;
	flex-wrap:wrap;
}
.date-event-list__day {
	font-weight: 900;
	font-size: 48px;
	line-height: 130%;
	letter-spacing: 1px;
	color: #FF3F3A;
}
.date-event-list__info {
	
}
.date-event-list__mounth {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
}
.date-event-list__time {
	line-height: 160%;
	color: #787A80;
}

.info-event-list {
	flex: 1 1 auto;
	padding: 0 20px;
}
.info-event-list__body {}
.info-event-list__text {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
}
.info-event-list__description {
	line-height: 160%;
	color: #787A80;
}
.item-event-list__button {
	padding: 0 32px;
}
.button_white:hover {
	color:#fff;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}
.our-events__wrapper{
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	margin-bottom: 60px;
}
.event-list_shadow{
	box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16),
	0px 30px 24px -10px rgba(255, 63, 58, 0.1),
	0px 12px 10px -6px rgba(255, 63, 58, 0.08),
	0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.view-all__body  {
	font-weight: 700;
	font-size: 28px;
	line-height: 1.5;
}

.view-all{
	display: flex;
	justify-content: center;
	gap: 40px;
	flex-wrap: wrap;
}
